<div class="container-fluid">

    <a routerLink='/home' class="text-white text-left">
        <i class="fa fa-reply" aria-hidden="true"> Voltar</i>
    </a>

<div  class="login mt-5 mb-5" >
        <div class="form-container mt-0">
            <img class="d-flex" width="300" height="100" src="../../assets/img/logo-branca-ok.png" alt="" loading="lazy">

            <h2 class="text-center mt-0 mb-0">Cadastro</h2>

  <div class="form-container">

            <div class="form-group mt-3">
                <label for="nome">Nome*</label>
                <input class="form-control" [(ngModel)]="user.nome" type="text" name="nome" id="nome"
                    placeholder="Coloque seu nome">
            </div>

            <div class="form-group mt-3">
                <label for="usuario">Usuário*</label>
                <input [(ngModel)]='user.usuario' class="form-control " type="email" name="usuario" id="usuario"
                    placeholder="Coloque o seu email">
            </div>

            <div class="form-group mt-3">
                <label for="foto">Senha*</label>
                <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha"
                    placeholder="Digite uma senha de 8 digitos">
            </div>

            <div class="form-group mt-3">
                <label for="foto">Confirmar senha*</label>
                <input [(ngModel)]="user.senha" class="form-control" type="password" name="confirmSenha"
                    id="confirmSenha" placeholder="Confirme sua senha">
            </div>

            <div class="form-group mt-3">
                <label for="endereco">Endereço*</label>
                <input [(ngModel)]="user.endereco" class="form-control " type="text" name="endereco" id="endereco"
                    placeholder="Digite seu endereço">
            </div>


           <div class="form-group mt-3">
                <label for="cpf_cnpj">CPF/CNPJ*</label>
                <input [(ngModel)]='user.cpfCnpj' class="form-control " type="text" name="cpf_cnpj" id="cpf_cnpj"
                    placeholder=" Digite seu CPF OU CNPJ">
            </div>

            <div class="form-group mt-3">
                <label for="telefone">Telefone*</label>
                <input [(ngModel)]='user.telefone' class="form-control " type="number" name="telefone" id="telefone"
                    placeholder=" Digite seu Telefone">
            </div>

            <div class="form-group mt-3">
                <label for="foto">Link da foto</label>
                <input [(ngModel)]='user.foto' class="form-control " type="text" name="foto" id="foto"
                    placeholder=" Coloque o link da sua foto">
            </div>

            <div class="form-group mt-3">
                <label for="confirmSenha">Tipo de Usuário*</label>
                <select class="form-control tipouser" name="tipo" id="tipo" (change)="tipoUser($event)">
                    <option>Selecione um tipo de usuário: </option>
                    <option value="normal">Beneficiário</option>
                    <option value="adm">Doador</option>
                </select>
            </div>


            <p class="fonte mt-3">* Campos obrigatórios</p>
            
            <div class="d-flex justify-content-around mt-4 pb-2">

                <button type="submit" class=" btn btnc me-4" routerLink="/login">Cancelar</button>
                <button type="submit" class="btn btns ml-4 " (click)="cadastrar()">Cadastrar</button>
            </div>

        </div>

    </div>

</div>