
.bg{
    background-color: #384f3f;
    color:white;
    
    font-family: 'Poppins';
    src: url(https://fonts.googleapis.com/css?family=Poppins);
    color: rgba(255,255,255,1);
}





/* icones da rede social*/

.social-network {

    font-size: 25px;
    margin-bottom: 0px;
    

}


.fa-facebook-square{

    color: white;
}

.fa-twitter{

    color: white;
}
.fa-google{

    color: white;
}

.fa-linkedin-square{

    color:white;
}

.fa-instagram{

    color:white;
}



/*hover*/
.fa-facebook-square:hover{

    color: rgb(126, 201, 167);
}

.fa-twitter:hover{

    color: rgb(126, 201, 167);
}
.fa-google:hover{

    color: rgb(126, 201, 167);
}

.fa-linkedin-square:hover{

    color: rgb(126, 201, 167);
}

.fa-instagram:hover{

    color: rgb(126, 201, 167);
}

.texto {
    font-family: 'Poppins';
    src: url(https://fonts.googleapis.com/css?family=Poppins);
    
    color: rgba(255,255,255,1);
    font-weight: bolder;
    font-size: x-large;
    
}