<!-- Footer -->
<footer class="page-footer font-small  darken-3 bg">


  <!-- Footer -->
  <div class="page-footer font-small teal ">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row justify-content-center m-0">

        <!-- Grid column -->
        <div class="col-md-3 mt-md-1 mt-1 m-0 ">

          <!-- Content -->
          <div class="container-fluid ml-2  justify-content-center">
            <img class="d-flex ml-4 mb-0" width="300" height="100" src="../../assets/img/logo-branca-ok.png" alt=""
              loading="lazy">

          </div>

          <div class="container-fluid justify-content-center ml-5 mt-0 ">
            <p>Recife, Pernambuco <br>
              Contato: (11) 3019-0100<br>
              Email: pocosolidario@gmail.com<br>
            </p>
          </div>


        </div>
        <!-- Grid column -->


        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-0 ">

          <!-- Content -->
          <h5 class="text-uppercase  ml-5 mt-4 mb-3 texto">ONDE ESTAMOS</h5>
          <iframe class="d-flex ml-5"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126418.20371996245!2d-35.004257786163016!3d-8.043305268833889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab196f94e5408b%3A0xe5800ef782bde3a6!2sRecife%2C%20PE!5e0!3m2!1spt-BR!2sbr!4v1662046058117!5m2!1spt-BR!2sbr"
            width="200" height="120" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>


    <!-- Grid column -->
    <div class="col-md-12  text-white d-flex justify-content-center hover py-0 m-0 ">
      <div class=" social-network  ">

        <!-- Facebook -->

        <a href="#" target="_blank"> <i class="fa fa-facebook-square m-2" aria-hidden="true"></i></a>
        <!-- Twitter -->
        <a href="#" target="_blank"> <i class="fa fa-twitter m-2" aria-hidden="true"></i></a>
        <!-- Google +-->
        <a href="#" target="_blank"> <i class="fa fa-google m-2" aria-hidden="true"></i></a>
        <!--Linkedin -->
        <a href="#" target="_blank"> <i class="fa fa-linkedin-square m-2" aria-hidden="true"></i></a>
        <!--Instagram-->
        <a href="#" target="_blank"> <i class="fa fa-instagram m-3" aria-hidden="true"></i></a>

      </div>
    </div>
    <!-- Grid column -->


    <!-- Grid row-->


    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1 text-white ">© 2022 Direito Reservados
      <a href="/home"> PocoSolidario.com</a>
    </div>
    <!-- Copyright -->

  </div>
</footer>
  <!-- Footer -->