<!-- Footer -->
<footer class="page-footer font-small teal pt-4 bg text-white">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold ml-5">PS.</h5>
          <p class="ml-5">Email: pocosolidario@gmail.com</p>
          <p class="ml-5">Recife-PE</p>

        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
  
          <!-- Content -->
          <h5>ONDE ESTAMOS:</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126418.20371996245!2d-35.004257786163016!3d-8.043305268833889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab196f94e5408b%3A0xe5800ef782bde3a6!2sRecife%2C%20PE!5e0!3m2!1spt-BR!2sbr!4v1662046058117!5m2!1spt-BR!2sbr" 
          width="500" 
          height="200" 
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Text -->
  
    <div class="row center text-white ml-5">
        <div class="col-md-12 d-flex">
        <ul class="social-network">
            <li>
                <a href="#" target="_blank" > <i class="fa fa-facebook-square" aria-hidden="true"></i></a>
            </li>

            <li>
                <a href="https://www.behance.net/mariannemuniz" target="_blank" > <i class="fa fa-behance" aria-hidden="true"></i></a>
            </li>


            <li>
                <a href="#" target="_blank" > <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            </li>

        </ul>
    </div>
</div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="#"> Poço Solidário</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->