
.bg{
    background-color: #384f3f;
    color:white;
    
    font-family: 'Poppins';
    src: url(https://fonts.googleapis.com/css?family=Poppins);
    color: rgba(255,255,255,1);
}





/* icones da rede social*/

.social-network {

    font-size: 25px;
    

}


.fa-facebook-square{

    color: white;
}

.fa-twitter{

    color: white;
}
.fa-google{

    color: white;
}

.fa-linkedin-square{

    color:white;
}

.fa-instagram{

    color:white;
}