<!-- Footer -->
<footer class="page-footer font-small  darken-3 bg">


    <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row justify-content-center m-3">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-3 mt-3 ">

        <!-- Content -->
        <div class="center ml-5 mb-4">
         <img width="200" height="80" src="../../assets/img/logo-branca-ok.png" alt="" loading="lazy"  >
        </div>

        <div class="container-fluid center ml-5 ">
          <p>Recife, Pernambuco</p>

          <p>Caixa Postal: 03350-005</p>
            
          <p>Contato: (11) 3019 0100</p>
            
          <p>Email: pocosolidario@gmail.com</p>
        </div>
        

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-3 mb-2 ">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">ONDE ESTAMOS</h5>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126418.20371996245!2d-35.004257786163016!3d-8.043305268833889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab196f94e5408b%3A0xe5800ef782bde3a6!2sRecife%2C%20PE!5e0!3m2!1spt-BR!2sbr!4v1662046058117!5m2!1spt-BR!2sbr" 
        width="500" 
        height="300" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>


<hr class="clearfix w-100 center mt-3">
    
    <!-- Grid column -->
    <div class="col-md-12 py-0 m text-white d-flex justify-content-center hover">
      <div class=" social-network mt-2 ">

        <!-- Facebook -->
        
        <a href="#" target="_blank"> <i class="fa fa-facebook-square m-3" aria-hidden="true"></i></a>
        <!-- Twitter -->
        <a href="#" target="_blank"> <i class="fa fa-twitter m-3" aria-hidden="true"></i></a>
        <!-- Google +-->
        <a href="#" target="_blank"> <i class="fa fa-google m-3" aria-hidden="true"></i></a>
        <!--Linkedin -->
        <a href="#" target="_blank"> <i class="fa fa-linkedin-square m-3" aria-hidden="true"></i></a>
        <!--Instagram-->
        <a href="#" target="_blank"> <i class="fa fa-instagram m-3" aria-hidden="true"></i></a>

      </div>
    </div>
    <!-- Grid column -->

  
  <!-- Grid row-->


  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white ">© 2022 Direito Reservados
    <a href="/home"> PocoSolidario.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->