<app-menu></app-menu>
<div class="container mt-5 mb-5 ft">
  <div class="row">
      <div class="col-md-12">

          <a routerLink='/temas' class="text-secondary text-left">
              <i class="fa fa-reply" aria-hidden="true"> Voltar</i>
          </a>
          </div>
        </div>
      </div>
  <!-- Modal -->
  <div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fs-30" id="TituloModalCentralizado">Você tem certeza que deseja apagar esse tema?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h1 class="fs-16">Todas as postagens relacionadas a ele serão apagadas.</h1>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger mr-4" data-dismiss="modal" routerLink='/temas'>Não</button>
            <button type="button" class="btn bnt text-white" data-dismiss="modal" (click)='apagar()'>Sim</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  