
<app-menu-verde></app-menu-verde>

<div class="mt-2">
<div class="p-md-5">
    <div class="container mb-5">
        <div class="row">

            <div class="col-md-2">

                <!-- Divider -->
                <hr class="hr-sm bg-divider">

                <!-- Text -->
                <p class="fs-lg lh-lg text-black mb-5 mb-md-0">
                    Acesso à água potável é um direito humano essencial</p>

            </div>


            <div class="col-md-4">

                <!-- Media -->
                <div class="media-decoration media-decoration-1 mb-5 mb-md-0">

                    <!-- Border -->
                    <div class="media-decoration-border">
                        <div class="border">
                        </div>
                    </div>

                    <!-- Image -->
                    <img class="media-decoration-img img-fluid" src="../../assets/img/problematica.jpg" alt="...">

                </div>

            </div>
            <div class="col-md-5 align-self-center mx-auto">

                <!-- Heading -->
                <h2 class="mb-2">
                    <em>A</em> Problemática
                </h2>

                <!-- Text -->
                <p class="mb-0">
                    Água e saneamento básico são considerados direitos humanos pela Organização das
                    Nações Unidas (ONU). No entanto, segundo o Instituto Trata Brasil, quase 35 milhões
                    de pessoas no país vivem sem água tratada. </p>
                <br>
                <p>
                    Ao olhar para as regiões, no Norte, 57,5% da população é abastecida com água
                    tratada, a menor taxa no país. No Nordeste, o abastecimento é de 73,9% da
                    população. Já o Centro-Oeste conta com 89,7% da população atendida com água
                    tratada. A região Sudeste possui a melhor porcentagem, 91,1%, seguida pelo Sul,
                    com o índice de 90,5%.
                </p>

            </div>
        </div>
    </div>


    <div class="p-md-5">
        <div class="row">
            <div class="col-md-2 order-md-2 align-self-end">

                <!-- Divider -->
                <hr class="hr-sm bg-divider">

                <!-- Text -->
                <p class="fs-lg lh-lg text-black mb-5 mb-md-0">
                    Conexão segura e serviço de baixo custo
                </p>

            </div>
            <div class="col-md-4 order-md-3">

                <!-- Media -->
                <div class="media-decoration mb-5 mb-md-0">

                    <!-- Solid -->
                    <div class="media-decoration-solid"></div>

                    <!-- Border -->
                    <div class="media-decoration-border">
                        <div class="border">
                        </div>
                    </div>

                    <!-- Image -->
                    <img class="media-decoration-img img-fluid" src="../../assets/img/projeto.jpg" alt="...">

                </div>

            </div>
            <div class="col-md-5 order-md-1 align-self-center mx-auto">

                <!-- Heading -->
                <h2 class="mb-2">
                    <em>Nosso</em> Projeto
                </h2>

                <!-- Text -->
                <p class="mb-0">
                    O Poço Solidário é um projeto que visa a doação de serviços e materiais para a
                    construção de cisternas em comunidades afetadas pela escassez de água limpa e tratada. Intermediamos
                    pessoas que querem ajudar a pessoas que precisam de ajuda. Faça parte dessa rede solidária.
                </p>

            </div>
        </div>
    </div>
</div>
</div>