.container-fluid {
    background-image: url("../../assets/img/mulher-bebendo-agua.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    font-family: Assistant, sans-serif;
    display: flex;
    min-height: 100vh;

}

.login {
    color: white;

    background:
        -webkit-linear-gradient(to right, #267871, #136a8a);
    background:
        linear-gradient(to right, #267871, #556847);
    margin: auto;
    box-shadow:
        60px 2px 60px rgba(0, 0, 0, 0.2),
        60px 10px 60px rgba(0, 0, 0, 0.3),
        10px 30px 60px 1px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 25px;
}

.texto {
    color: #fff;
}

.cd{
    color:rgb(6, 203, 252);
}

.btinicio{
    background-color: #556847;
}

button:hover {
    background: #fff;
    color: dimgray;
    transition: .5s
}


h1 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 900;
}

label {
    font-family: 'Mulish';
}

input,
.tipouser {
    background-color: #D9D9D9;

}

.form-group {
    margin-bottom: 10px;
}

input:focus {

    color: #000;
    background-color: #fff;
    border: 2px solid #34ca71;
    outline: 0;
    box-shadow: none;

}
