#img-bg {
    background-image: url('https://imgur.com/fBECDmQ.png');
    min-height: 695px;

    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-success{
    background-color: #556847;
    border-color: #556847;
}

.btn{
    line-height: 1;
}

.form-control{
    background-color: #D9D9D9;
    font-family: 'Mulish';
}
.ft-M{
    font-family: 'Mulish';
}

.h1{
    font-family: 'Poppins';
    font-weight: bold;
    padding: 20px;
}