<app-menu-verde></app-menu-verde>
<div class="all">
    <h1>Desenvolvedoras</h1>
   


   <div class="row col-md-12 d-flex justify-content-center">
    
    <div class="card ms-5 " style="width: 18rem;">
        <div class="img-logo mt-5">
             <img class="card-img-top" src="../../assets/img/foto-eduarda.jpg" alt="Card image cap">
        </div> 
        <div class="card-body text-center">
          <h5 class="card-title ">Eduarda Albuquerque</h5>
          <p class="card-text">Dev Full Stack</p>
         
            <ul class="social-network">
                <li>
                    <a href="https://github.com/eduardaea" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/eduarda-albuquerque/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/stories/eduardac.albuquerque" target="_blank" class="icoInsta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="card ms-5 " style="width: 18rem;">
        <div class="img-logo mt-5">
             <img class="card-img-top" src="../../assets/img/marina.jpg" alt="Card image cap">
        </div> 
        <div class="card-body text-center">
          <h5 class="card-title ">Marina Varela</h5>
          <p class="card-text">Dev Full Stack | Comunicóloga</p>
         
            <ul class="social-network">
                <li>
                    <a href="https://github.com/MarinaVarela" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/marinadev" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/marina.varela/" target="_blank" class="icoInsta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="card ms-5 " style="width: 18rem;">
        <div class="img-logo mt-5">
             <img class="card-img-top" src="../../assets/img/foto-marianne.png" alt="Card image cap">
        </div> 
        <div class="card-body text-center">
          <h5 class="card-title ">Marianne Muniz</h5>
          <p class="card-text">Dev Full Stack|Desgin|UX|UI</p>
         
            <ul class="social-network">
                <li>
                    <a href="https://github.com/MarianneMunizAt" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/marianne-muniz-atanazio/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/mariannem_" target="_blank" class="icoInsta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>



   <div class="row  col-md-12 d-flex justify-content-center">

    <div class="card ms-5 " style="width: 18rem;">
        <div class="img-logo mt-5">
             <img class="card-img-top" src="../../assets/img/barbara.png" alt="Card image cap">
        </div> 
        <div class="card-body text-center">
          <h5 class="card-title ">Bárbara Ayres</h5>
          <p class="card-text">Dev Full Stack</p>
         
            <ul class="social-network">
                <li>
                    <a href="https://github.com/AyresBarbara" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/b%C3%A1rbara-ayres-31903118b/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ayrescomy/" target="_blank" class="icoInsta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="card ms-5 " style="width: 18rem;">
        <div class="img-logo mt-5">
             <img class="card-img-top" src="../../assets/img/foto-nicolle.jpg" alt="Card image cap">
        </div> 
        <div class="card-body text-center">
          <h5 class="card-title ">Nicolle Gianinni</h5>
          <p class="card-text">Dev Full Stack</p>
         
            <ul class="social-network">
                <li>
                    <a href="https://github.com/nicollegianinni" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/nicolle-gianinni-41895a238/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/nicollegianinni/" target="_blank" class="icoInsta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>

    <div class="card ms-5 " style="width: 18rem;">
        <div class="img-logo mt-5">
             <img class="card-img-top" src="../../assets/img/foto-iris.png" alt="Card image cap">
        </div> 
        <div class="card-body text-center">
          <h5 class="card-title ">Iris Amorim</h5>
          <p class="card-text">Dev Full Stack</p>
         
            <ul class="social-network">
                <li>
                    <a href="https://github.com/IrisFernandaAmorim" target="_blank" class="icoGithub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/irisamorim/" target="_blank" class="icoLinkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/_irisamorim" target="_blank" class="icoInsta">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>


</div>