<div class="container-fluid">
    <div class="row d-flex justify-content-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/teste.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/2.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-white">Poço Solidário</h1>
        <p class="lead text-white">Somos um projeto que visa a doação de serviços e materiais para a
            construção de cisternas em comunidades afetadas pela falta de água limpa e tratada.
            Através de uma rede social, atuamos como um intermediário para juntar
            pessoas que querem ajudar a pessoas que precisam de ajuda.</p>
    </div>
</div>

<div class="card-deck m-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Conexão de baixo custo</h5>
            <p class="card-text"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ad veniam laborum
                mollitia, vitae nemo accusantium dolore deleniti facere modi inventore quo doloremque sit voluptate
                corrupti ab reiciendis dolores delectus.</p>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">Expertise e liderança</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat cupiditate nostrum ex
                nulla, deleniti, alias dolor, quidem perferendis autem recusandae accusantium. Magnam praesentium
                accusantium nulla ex expedita.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Solução e dedicação</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos omnis eius
                inventore fuga, placeat at ex nihil maiores odio et libero commodi ut suscipit, quidem doloremque.
                Praesentium voluptate ipsum libero.</p>
        </div>
    </div>
</div>