
.d-flex{ 
    background-image: url("../../assets/img/gotas.png");
    
}

.user-profile{
   display: flex; 
   align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 1%;
    margin-top: 1%;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.user-profile small{
    font-size: 13px;
    font-family:'Courier New', Courier, monospace ;
}

.create-post-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    background: var(--cor-feed-escuro);
    resize: none;
    color: white;
}

.form-control:disabled, .form-control[readonly]{
    background-color: gray;
}

.post-links{
    display: inline;
    margin-top: 50px;
}

.post-links i{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-right: 50px;
    font-size: 15px;
}

.post-links a {
    width: 15px;
    display: inline;
}



.post-links button{
    margin-top: 2px;
    margin-left: 190px;
}

.create-post-container{
    width: 98%;
    background:var(--cor-feed-claro);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    
}
.user-profile{
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.post-text{
    color: rgb(255, 255, 255);
    margin: 15px 0;
    font-size: 15px;
}
.post-text a{
    text-decoration: none;
    color: aquamarine;
}

/* .post-img{
    
    border-radius: 4px;
    margin-bottom: 5px;
    width: 143%;
    height: 12%; 
    display: flex;
    margin-left: 50%;
} */

.post-row{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}
.post-row a{
    color: aqua;
}

.icons div img{
    width: 18px;
    margin-right: 10px;
}

.icons div {
 display: inline-flex;
 align-items: center;
 margin-right: 30px;
 font-size: 14px;
}

.profile-icon{  
    display: flex;
    align-items: center;
}

.profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.but{
    background-color: transparent;
      border-width: 0px;
      border-color:0ch;
      border-image: initial;
      text-decoration: underline;
      color: blue;
}
button, input, select{
    background-color: var(--cor-feed-escuro);
    color: white;
}








.bgt{

    color: #47C2C3;
    align-items: 80px;
}


.card-body{
  
    background: var(--cor-feed-escuro);
    width: 100%;
    border-radius: 6px;
}
.card-body img{
    width: 45px;
    border-radius: 50px;
    margin-right: 10px;
    display: inline-block; 
    align-items: right;
}
.d-alinhar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-md-4 img,
.btn-img{
    width: 300px;
    margin-left: 100%;
}
.lead{
    display: inline;
    margin-left: auto;
}
.lead-d{
    margin-top: 5px;
}

.a{
    margin-right: 5px;
}
.button{
    margin-right: 50px;
}

.user-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    width: 30%;
}

.feed-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    width: 70%;
    margin-right: 3%;
}

.novo-tema-container {
    height: auto;
    text-align: center;
    margin-right: 10%;
}

.post-container {
    width: 98%;
    margin-top: 2%;
}

.modal-body{
    background: #e4dedb; ;
}
.tema{
    
    margin-right: 24%;
}
.btn2{
    margin-top: 2%
}
.filtrar{
    margin-top: 2%;
    color: black;
}

.fa-check-circle{
   color: green;
}
.fa-times-circle{
  color: red;
}
.fa-globe{
  color: blue;
}
li{
    cursor: pointer;
    margin-left: 5%;
}

li:hover{
    background-color: #ccc;
}
.dropdown{
    justify-content: center;
}
.text-att{
    margin-left: 10%;
    width: 80%;
   
}

.button-margin{
    margin-left: 100%;
}
