<app-usuario></app-usuario>
                                                    <!---POSTTTTT-->

 <!-- POST USER PERFIL-->
    <div class="write-post-container">

        <div class="user-profile">
            <img src="../../assets/img/Narcisa.jpg" alt="">
            <div>
                <p>Narcisa Tamborindeguy</p>
                <small>Doadora<i class="fa fa-caret-down" aria-hidden="true"></i></small>
            </div>
        </div>

        <div class="post-container"> 

            <textarea  rows="3" placeholder="Escreva aqui a sua publicação"></textarea>

            <div class=" post-links">
               <a href="#"><i class="fa fa-picture-o" aria-hidden="true">Foto/vídeo</i></a>
            </div>
        </div>

    </div>
 <!-- POST USER PERFIL-->



<!-- Card-Feed-->
<div class="feed-container">

    <div class="row">
        <div class="user-profile">
            <img src="../../assets/img/Narcisa.jpg" alt="">
            <div>
                <p>Narcisa Tamborindeguy</p>
                <small>14 de Setembro de 2022 às 12:00<i class="fa fa-caret-down" aria-hidden="true"></i></small>
            </div>
        </div>
        <a href="#"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
    </div>


    <p class="post-text"> Doando milhoes para fundação POÇO SOLIDARIO
        <a href="#">#DOAÇÃO</a>
    </p>
    <img src="" alt="FOTOO POSTADA" class="post-img">

    <!--ICON DOAR-->

    <div class="post-row">
        <div class="icons">
            <div><i class="fa fa-heart" aria-hidden="true">Doar</i></div>
        </div>
    </div>


    <!--ENTRAR EM CONTATO-->
    <div class="profile-icon">
        <img src="" alt="FOTO DO PROFILE DO USER">
        <i class="fa-solid fa-caret-down"></i>
    </div>

</div>


                                          
 
