.d-flex{
    /* background: #EBDAD1; */
    background: #e4dedb;

}

.write-post-container{
    width: 90%;
    height: 90%;
    border-radius: 6px;
    padding: 20px;
    color: black;

}
.user-profile{
   display: flex; 
   align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 1%;
    margin-top: 1%;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: black;
}
.user-profile small{
    font-size: 13px;
    font-family:'Courier New', Courier, monospace ;
}

.create-post-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.post-links{
    display: inline;
    margin-top: 50px;
}

.post-links i{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    margin-right: 50px;
    font-size: 15px;
}

.post-links a {
    width: 15px;
    display: inline;
}



.post-links button{
    margin-top: 2px;
    margin-left: 190px;
}

.create-post-container{
    width: 98%;
    background: #fff;
    border-radius: 6px;
    color: black;
}
.user-profile{
    font-size: 13px;
    color: black;
}
.post-text{
    color: black;
    margin: 15px 0;
    font-size: 15px;
}
.post-text a{
    text-decoration: none;
    color: aquamarine;
}

.post-img{
    width: 80%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}
.post-row a{
    color: aqua;
}

.icons div img{
    width: 18px;
    margin-right: 10px;
}

.icons div {
 display: inline-flex;
 align-items: center;
 margin-right: 30px;
 font-size: 14px;
}

.profile-icon{  
    display: flex;
    align-items: center;
}

.profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.but{
    background-color: transparent;
      border-width: 0px;
      border-color:0ch;
      border-image: initial;
      text-decoration: underline;
      color: blue;
}









.bgt{

    color: #47C2C3;
    align-items: 80px;
}


.card-body{
    background: #fff;
    width: 100%;
    border-radius: 6px;
}
.card-body img{
    width: 45px;
    border-radius: 50px;
    margin-right: 10px;
    display: inline-block; 
    align-items: right;
}

.col-md-4 img{
    width: 900px;
}
.lead{
    display: inline;
    margin-left: auto;
}
.lead-d{
    margin-top: 5px;
}

.a{
    margin-right: 5px;
}
.button{
    margin-right: 50px;
}

.user-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    width: 30%;
}

.feed-container {
    padding-left: 0;
    padding-right: 0;
    margin-top: 20px;
    width: 70%;
    margin-right: 3%;
}

.novo-tema-container {
    height: auto;
    text-align: center;
    margin-right: 10%;
}

.post-container {
    width: 98%;
}

.modal-body{
    background: #e4dedb; ;
}
.tema{
    
    margin-right: 24%;
}
.btn2{
    margin-top: 2%
}